.form {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.582);

  .input-field {
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-weight: 700;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-weight: 700;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      font-weight: 700;
    }

    input {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    }
  }

  .input-case {
    position: relative;

    img {
      position: absolute;
      top: 0;
      right: 25px;
      top: 17px;

      display: none;
    }
  }

  button {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: $green;
    border-radius: 5px;
    font-size: 1.05em;
    text-transform: uppercase;
    font-weight: 600;
    border: transparent;
    margin-bottom: 15px;
  }

  button:hover {
    opacity: 0.8;
  }

  .link-text {
    text-align: center;
    font-size: 13px;
    color: $grayish-blue;
    font-weight: 600;

    a {
      text-decoration: none;
      color: red;
    }
  }
}

.form-part {
  min-width: 335px;
}

.error-message {
  color: red;
  font-size: 10px;
  text-align: right;
  margin-top: -10px;
  padding-bottom: 10px;
  font-weight: 500;

  display: none;
}