* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 20px 20px 20px;
}

body {
  background-image: url(../images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  font-family: "Poppins", sans-serif;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-part {
  text-align: center;
  color: white;
  padding-bottom: 65px;
  max-width: 700px;
}

.text-part h1 {
  font-size: 1.8em;
  padding-bottom: 20px;
}

.text-part p {
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px;
}

.try-it-part {
  text-align: center;
  background-color: #6055a5;
  margin-bottom: 15px;
  color: white;
  font-size: 15px;
  padding: 15px 55px;
  font-weight: 400;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px rgba(39, 38, 38, 0.562);
          box-shadow: 0px 3px 5px rgba(39, 38, 38, 0.562);
}

.try-it-part span {
  font-weight: 600;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.582);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.582);
}

.form .input-field ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

.form .input-field :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

.form .input-field ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

.form .input-field ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

.form .input-field :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 700;
}

.form .input-field ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 700;
}

.form .input-field input {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.form .input-case {
  position: relative;
}

.form .input-case img {
  position: absolute;
  top: 0;
  right: 25px;
  top: 17px;
  display: none;
}

.form button {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: #38cc8c;
  border-radius: 5px;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: 600;
  border: transparent;
  margin-bottom: 15px;
}

.form button:hover {
  opacity: 0.8;
}

.form .link-text {
  text-align: center;
  font-size: 13px;
  color: #b9b6d3;
  font-weight: 600;
}

.form .link-text a {
  text-decoration: none;
  color: red;
}

.form-part {
  min-width: 335px;
}

.error-message {
  color: red;
  font-size: 10px;
  text-align: right;
  margin-top: -10px;
  padding-bottom: 10px;
  font-weight: 500;
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-part {
    text-align: left;
  }
  .text-part h1 {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
  main {
    padding: 80px;
  }
  .text-part h1 {
    font-size: 3.2em;
  }
  .text-part p {
    font-size: 20px;
  }
  .form-part {
    width: 530px;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */